$color-main: #2d3651;
$color-accent: #d66926;
$color-highlight: #d53d27;
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-gray-dark: #4c546b;
$color-light: #ffffff;
$color-placeholder: #637582;
$color-input: #38405a;
$color-border: #6a7084;
$color-gray-lighest: #f1f1f1;
$color-btn: #575e73; // rgba($color-main, 0.8)