.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  @include md {
    background-color: rgba($color-gray-dark, 0.25);
  }

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    letter-spacing: 0.1em;

    @extend %container;
  }
}

